# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.RollABall.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Savgat\Desktop\Everything\School\Year Two\Game 201\RollABall\.idea\.idea.RollABall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
